In [1]:
print ("HELL O'world")

HELL O'world

In [2]:
import pandas

In [3]:
trips = pandas.read_excel("trips_data.xlsx")

In [4]:
trips.describe()

        Unnamed: 0         salary          age  family_members
count  1000.000000    1000.000000  1000.000000     1000.000000
mean    499.500000  111935.000000    55.209000        1.295000
std     288.819436   54580.049073    11.925164        0.885867
min       0.000000       0.000000    18.000000        0.000000
25%     249.750000   68000.000000    50.000000        1.000000
50%     499.500000   99000.000000    58.000000        1.000000
75%     749.250000  161000.000000    63.000000        2.000000
max     999.000000  250000.000000    82.000000        4.000000